<div class="twitch-container grey">
    <div class="label twitch">Twitch</div>
    <div class="feed">
        <div class="content" ng-repeat="item in twitch_feed">
            <div class="title">{{item.channel.name}}</div>
            <div class="description">{{item.channel.status}}</div>
            <img class="image" ng-src="{{item.preview.medium}}" />
        </div>
    </div>
</div>
<div class="youtube-container">
    <div class="label youtube">YouTube</div>
    <div class="feed">
        <div class="content" ng-repeat="item in youtube_feed">
            <div class="title">{{item.snippet.title}}</div>
            <div class="description">{{item.snippet.description}}</div>
            <img class="image" ng-src="{{item.snippet.thumbnails.medium.url}}" />
        </div>
    </div>
</div>
<div class="reddit-container">
    <div class="label reddit">Reddit</div>
    <div class="feed">
        <div class="content" ng-repeat="item in reddit_feed">
            <div class="title">{{item.data.title}}</div>
            <div class="description">{{item.data.selftext}}</div>
            <img class="image" ng-src="{{item.data.media.oembed.thumbnail_url}}" ng-if="item.data.media.oembed.thumbnail_url" />
        </div>
    </div>
</div>