<div class="twitch-container grey">
    <div class="label twitch">Twitch</div>
    <div class="feed">
        <div class="content" ng-repeat="item in twitch_feed">
            <div class="title" ng-bind-html="item.channel.name | unsafe"></div>
            <div class="description" ng-bind-html="item.channel.status | unsafe"></div>
            <img class="image" ng-src="{{item.preview.medium}}" />
        </div>
    </div>
</div>
<div class="youtube-container">
    <div class="label youtube">YouTube</div>
    <div class="feed">
        <div class="content" ng-repeat="item in youtube_feed">
            <div class="title" ng-bind-html="item.snippet.title | unsafe"></div>
            <div class="description" ng-bind-html="item.snippet.description | unsafe"></div>
            <img class="image" ng-src="{{item.snippet.thumbnails.medium.url}}" />
        </div>
    </div>
</div>
<div class="reddit-container">
    <div class="label reddit">Reddit</div>
    <div class="feed">
        <div class="content" ng-repeat="item in reddit_feed">
            <div class="title" ng-bind-html="item.data.title | unsafe"></div>
            <div class="description" ng-bind-html="item.data.selftext | unsafe"></div>
            <img class="image" ng-src="{{item.data.media.oembed.thumbnail_url}}" ng-if="item.data.media.oembed.thumbnail_url" />
        </div>
    </div>
</div>